{% include "User/UserHeader.html" %}

{% load static %}

<!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="font-secondary text-primary mb-4">Super Crispy</h1>
                    <h1 class="display-1 text-uppercase text-white mb-4">Cake Shop</h1>
                    <h1 class="text-uppercase text-white">Savor the Anticipation!</h1>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a href="/User/ViewCakeByUser" class="btn btn-primary border-inner py-3 px-5 me-5">SHOP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Hero End -->


    <!-- Video Modal Start -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->

    <!-- Service Start -->
    <div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">Your Order Journey Awaits!</h4>
                        <p>See the status of your recent bookings or start your sweet journey today by placing your first order.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">Your Cake Story Awaits!</h4>
                        <p>Find your order updates here. Haven’t placed one yet? Begin your cake adventure now!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">Bookings or Beginnings!</h4>
                        <p>Track your recent orders or take the first step toward indulgence by booking your favorite cake today.</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 text-center">
                    <h1 class="text-uppercase text-light mb-4">Your Sweet Adventure Starts Here!</h1>
                    <a href="/User/ViewBookingByUser/{{loginid}}" class="btn btn-primary border-inner py-3 px-5">Orders</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Start -->

    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">From Decadent to Divine</h2>
                <h1 class="display-4 text-uppercase">Savor Every Slice</h1>
            </div>
            <div class="row g-5">

                {% for c in category %}
                <div class="col-lg-4 col-md-6">
                <a href="{% url 'ViewCakeByCategoryUser' id=c.categoryid %}">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/images/{{ c.categoryphoto }}" alt="" style="height: 444px; object-fit: cover; width: 100%;">
                        </div>
                        <div class="bg-dark border-inner text-center p-4">
                            <h4 class="text-uppercase text-primary">{{c.categoryname}}</h4>
                        </div>
                    </div>
                </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Team End -->

     <!-- Offer Start -->
    <div class="container-fluid bg-offer my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
                        <h2 class="text-primary font-secondary">Your Sweet Treat is On Its Way!</h2>
                        <h1 class="display-4 text-uppercase text-white">The Countdown Begins!</h1>
                    </div>
                    <p class="text-white mb-4">Thank you for your order! Your cake is in the making—freshly crafted and delivered with love. Your cake will be delivered soon. Stay excited!</p>
                    <a href="/User/ViewPaymentByUser/{{loginid}}" class="btn btn-primary border-inner py-3 px-5 me-3">DETAILS</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->

<!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">

            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Baked to Perfection, Flavored for You</h2>
                <h1 class="display-4 text-uppercase">Taste the Delight</h1>
            </div>

            <div class="owl-carousel testimonial-carousel">

                {% for f in flavour %}
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                <a href="{% url 'ViewCakeByFlavourUser' id=f.flavourid %}">
                     <div class="bg-dark text-center p-4">
                            <h4 class="text-uppercase text-primary">{{f.flavourname}}</h4>
                        </div>
                </a>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>
<!-- Testimonial End -->

{% include "User/UserFooter.html" %}
    

